header
    background-image: url(../../public/images/banner1.jpg)
    background-color: #282828
    background-blend-mode: multiply
    background-size: cover
    height: 100vh
    border-bottom: 15px solid transparent !important
    border-image: url("../../public/images/bottom_decoration_img.png") repeat !important
    border-image-slice: 30 !important
.nav-hover
    ul
        li:hover
            background-color: $color-red
        
.nav-main
    margin-left: 250px
.border-nav
    border-top: 1px solid white
    border-bottom: 1px solid white
.carou1
    margin-top: 200px
.font-carou
    font-family: $font-courgette
    color: white
.occasion
    font-size: 50px !important
.taste
    font-size: 50px !important
    color: $color-red
.makes
    font-size: 40px !important
.btn-1
    font-family: $font-roboto
    font-size: 11px
    padding: 0.5rem
.btn-2
    font-family: $font-roboto
    background-color: $color-red
    font-size: 11px
    padding: 0.5rem
    color: white
.carousel-indicators button
        width: 10px !important
        height: 10px !important
        border-radius: 100% 
.carousel-indicators button.active
        width: 5px !important
        height: 5px !important
        border-radius: 100%
        border: 1.5px solid  white  !important
        margin: 1px !important
        background-clip: content-box !important
        padding: .2rem !important
        margin-top: 8px !important
    
