header
    background-image: url(../../public/images/banner1.jpg)
    background-color: #414141
    background-blend-mode: multiply
    background-size: cover
    height: 100vh !important
    .carou1
        font-family: $font-courgette
        color: white
        button
            font-family: $font-roboto
            font-size: 10px
            padding: 0.5rem
            font-weight: bold
        button:nth-child(3)
            color: white
    