@media screen and ( min-width: 1024px  ) and (max-width:1200px)
    .nav-main
        margin-left: 10%
    .legende1
        width: 200px !important
        left: 85px !important   
    .legende2
        width: 200px !important
        left: 10px !important
    .legende-text1
        left: 90px
    .legende-text2
        left: 25px