@media screen and (min-width: 320px) and (max-width: 767px)
    .nav-main
        right: 270px !important
        margin-left: 0 !important
        
        background-blend-mode: multiply 
        ul
            background-color: #282627
            opacity: 0.9
            li
                a
                    color: white !important
    .btn-toggler
        background-color: black !important
        border: 5px solid #ccc
    .carou1
        position: relative
        bottom: 120px
    .section1
        padding: 0
    .div-elem1
        width: 100% !important
        padding-top: 10% 
    .img-mult
        width: 100% !important
    .section3
        padding: 0 !important
        .elem-3
            width: 100% !important
    .menu2
        padding: 0 !important
        padding-right: 0 !important
    .story1
        font-size: 12px
    .div-list
        div
            div
                display: flex
                justify-content: center
                align-items: center
                p
                    font-size: 10px
                    text-align: center
    .prize
        width: 80% 
        font-size: 15px !important
    .elem-3
        padding-top: 30% !important
        padding-bottom: 55% !important
    .case
        margin-bottom: 5% 
        width: 180px !important
    .btn-form
        position: relative
        right: 20px
    #blog1
        position: relative 
        right: 25px
    .legende1
        position: relative 
        bottom: 110px !important
        left: 40px !important
        width: 200px !important
    .legende-text1
        position: relative 
        bottom: 150px
        left: 40px
    #blog2
        position: relative 
        left: 40px
        top: 170px
    .legende2
        position: relative 
        top: 135px !important
        left: 40px !important
        width: 200px !important
        margin: 0 !important
    .legende-text2
        position: relative 
        top: 40px
        left: 14%
    .p-section5bis
        p:nth-child(2)
            font-size: 11px
            padding-right: 0px !important
    .p-section5
        p:nth-child(2)
            padding-right: 0px !important
    .more
        position: relative 
        top: 50px
    .testi
        display: flex
        div
            justify-content: center
            padding-bottom: 5%
        div:nth-child(3)
            order: 4
    .contact-red
        width: 100% !important
        margin-bottom: 10%
    .title-f
        text-align: center
    .aa
        display: flex
        justify-content: center
        margin-bottom: 7% 
    .bb
        display: flex
        justify-content: center
    .tags
        p
            text-align: center
        div
            display: flex
            justify-content: center
            button
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
                margin-bottom: 5%
                margin-left: 2%
    .img-mult
        margin-left: 0% !important
    
                