.section2
    background-image: url(../../team_background.jpg)
    padding-top: 5%
    p:nth-child(1)
        font-family: $font-courgette
    .red-title
        color: $color-red
        font-size: $size-title-red
    .black-title
        font-size: $size-title