.section1
    margin: auto
    background-image: url(../../public/images/main_bg.jpg)
    padding-bottom: 5%
    padding-top: 5%
    .div-elem1
        background-color: white
        width: 80%
        margin: auto
        padding-top: 5%
        padding-bottom: 5%
        background-image: url(../../public/images/box-left-top.png),url(../../public/images/box-right-top.png),url(../../public/images/box-bottom-left.png),url(../../public/images/box-bottom_right.png)
        background-position: top left,top right,bottom left,bottom right 
        background-repeat: no-repeat
        div
            p:nth-child(1)
                font-family: $font-courgette
                margin: 0 !important
                padding: 0 !important
                .red-title
                    color: $color-red
                    font-size: $size-title-red
                .black-title
                    font-size: $size-title
            p:nth-child(3)
                font-size: $size-para