.section1
    margin: auto
    background-image: url(../../public/images/main_bg.jpg)
    padding-bottom: 5%
    padding-top: 5%
    .div-elem1
        background-color: white
        width: 80%
        margin: auto
        padding-top: 5%
        padding-bottom: 10%
        background-image: url(../../public/images/box-left-top.png),url(../../public/images/box-right-top.png),url(../../public/images/box-bottom-left.png),url(../../public/images/box-bottom_right.png)
        background-position: top left,top right,bottom left,bottom right 
        background-repeat: no-repeat
.our
    p:nth-child(1)
        font-family: $font-courgette
        margin: 0 !important
        padding: 0 !important
        .red-title
            color: $color-red
            font-size: $size-title-red
        .second-title2
            font-size: $size-title
            p:nth-child(3)
                font-size: $size-para

.list-g
    a:hover
        border-right: solid 5px $color-red !important
        background-color: transparent
    a
        border-left: none
        border-right: none
        border-top: none
        border-bottom: 1px solid white !important
        font-family: $font-courgette
        background-color: transparent !important
        i
            font-size: 50px
            color: #ccc
        i:hover
            font-size: 50px
            color: $color-red
.menu2
    padding-right: 40px
.prize
    color: $color-red
    background-color: #ccc
    text-align: center  
.div-list
    text-align: center
    border-left: 1px solid #ccc
    div
        p
            font-size: 13px
.img-mult
    margin-left: 15% !important